/* src/App.css */
body {
  font-family: Montserrat;
  margin: 20px;
  background-color: rgb(4, 4, 40);
}

.activity {
  margin-bottom: 10px;
}

.activity label {
  margin-right: 10px;
}

.activity input {
  margin-right: 10px;
}

.report {
  margin-top: 20px;
}
